*
{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.container{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.div1
{
    background-image: url(./images/slider-image1.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
    transition: 1s;
}
.div2
{
    width: 100%;
    background-image: url(./images/slider-image2.jpg);
    background-size: cover;
    background-position: bottom;
    height: 650px;
}

.div3
{
    background-image: url(./images/slider-image3.jpg);
    background-size: cover;
    height: 650px;
    width: 100%;
}
.sbutton{
    position: absolute;
    top: 47%;
    left: 97%;

}
.sb{
margin: 10px;
width: 15px;
height: 15px;
border-radius: 50%;
border:2px solid #fff;   
}
.sb1{
    background-color: #fff;;
}
.nav1{
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}
.nav2{
    border:1px solid #333;
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 1);
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    border-radius: 5px;

}
.nav1 h1,.nav2 h1{
    font-family: 50px;
    
}
.nav1 a{
    color:white;
    text-decoration: none;
}

.nav2 a{
    color:#333;
    text-decoration: none;
}

.nav1 li,.nav2 li{
    display: inline-block;
    list-style-type: none;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 700;
    transition: 1s;

}
    .nav1 li:hover a,.nav2 li:hover a,h1:hover a ,.d1 p:hover{
    transform: translate(1.5px);
    color: red;
    transition: 0.5s;
    cursor: pointer;

}
.nav1 span,.nav2 span{
    color:red;
}
.d1{
    display: flex;
    justify-content: space-between;

}

.d1 button{
    width: 140px;
    height: 40px;
    background-color:  crimson;
    border:none;
    color:#fff;
    font-size: 17px;
}
.d1 p{
    padding: 10px 25px;
    font-weight: 700;
}
.yozuv  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 250px 100px;
    color:#fff;
}
.yozuv h3
{  
    font-size: 19px;

}
.yozuv h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}
.yozuv button{
    margin-top: 20px;
    width: 160px;
    height: 40px;
    background-color:  crimson;
    border:none;
    color:#fff;
    font-size: 17px;
}
button{
    transition: 0.5s;
}
button:hover{
    background-color: #333;
    transition: 0.5s;
    cursor: pointer;
    border:1px solid #fff; 
}
.joy{
    margin-top: 1000px;
}
#about{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 50px;
}
.about1{
width: 45%;


}
.about2{
    width: 45%;

}
.about2 img{
    width: 100%;
    
}
.about1 h1{
padding: 20px 0;
}
.about1 p:first-child{
    padding-top: 60px;
    color:#555;
}
.chef{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.chef1,.chef2,.chef3{
    width: 28%;
    overflow: hidden;
    height: 450px;
}
/*
.chb{
    width: 10%;
    height: 100%;
    background-color: rosybrown;
}*/


.chef1
{
background-image: url(./images/jaluzi-1.jpg);
background-size: contain;
background-repeat: no-repeat;
}

.chef2
{
    background-image: url(./images/jaluzi-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.chef3
{
    background-image: url(./images/jaluzi-12.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}
.chb{
    width: 100%;
    height: 350px;
    transition: 0.7s;
}

.chb h1{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#fff;
    padding: 150px 25px;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(0);
}
.chb p{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(0);
}

.cheff:hover .chb{
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.7s;
    cursor: pointer;
}
.cheff:hover .chb h1{
 transform: translateY(25px); 
opacity: 1;
transition: 0.5s;
}
.cheff:hover .chb p{
    transform: translateY(25px); 
   opacity: 1;
   transition: 0.5s;
   }





#chefa{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(245, 245, 245, 1);

}
#chefa h1{
    padding-bottom: 10px;
}
#chefa p{
    padding-bottom: 25px;
}
@keyframes sss{
    0%{
    color:White;
    transform: scale(1);
    }
    100%{
    color:red;
    transform: scale(1.2);
    }
}

.d1 p{
    animation-name: sss;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#menu{
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mnav span{
    border: 1.5px solid #fff;
    margin-left: 5px;
    height: 20px;
    }
    .mnav2 span{
        border: 1.5px solid #333;
        margin-left: 5px;
        height: 20px;
        
    }
    .mnav,.mnav2{
    padding: 5px;
     transform: rotate(90deg);
    }

@keyframes sss2{
    0%{
    color:#333;
    }
    30%{
    color:yellow;
    }
    60%{
        color:green;
     }
     90%{
         color:orange;
     }
        
    100%{
    color:red;
    }
}
#menu h1{
    padding-top: 15px;
    display: inline-block;
    -moz-animation-name: sss2;
    animation-name: sss2;
    animation-duration: 2s;
    animation-direction: alternate;
    -moz-animation-iteration-count:  infinite;
    animation-iteration-count: infinite;
    padding-bottom: 10px;
    font-size: 35px;
} 
#menu p{
    padding-bottom: 25px;
}
.mn1{
    display: flex;
    flex-wrap: wrap;
}
.rasm{
    width: 33.3%;
    height: 300px;
    border:1px solid #333;
}
.mnav{
    overflow: hidden;
    display: none;
    position: relative;
}
.chb p{
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#fff;
}


.soya{
    width: 100%;
    height: 100%;
}
.rasm1{
background-image: url(./images/menu-image1.jpg);
background-size: cover;
}
.rasm2{
    background-image: url(./images/menu-image2.jpg);
    background-size: cover;
    }
    .rasm3{
        background-image: url(./images/menu-image3.jpg);
        background-size: cover;
        }
        .rasm4{
            background-image: url(./images/menu-image4.jpg);
            background-size: cover;
            }
            .rasm5{
                background-image: url(./images/menu-image5.jpg);
                background-size: cover;
                }
                .rasm6{
                    background-image: url(./images/menu-image6.jpg);
                    background-size: cover;
                    }

.rasm{
    overflow: hidden;

}
.soya h1{
    margin-top: 80px;
    opacity: 0;

}
.soya h2{
    color:#fff;
    opacity: 0;
    
}
   .rasm:hover .soya{
    background-color: rgba(0, 0, 0, 0.7);
     
       transition: 0.5s;
   } 
   .rasm:hover .soya h1{
       opacity: 1;
       transition: 0.5s;
    }
    .rasm:hover .soya h2{
        opacity: 1;
        transition: 0.5s;
    } 
    .rasm:hover{
        cursor: pointer;
    } 
    .mnav2{
        position: relative;
        display: none;
    }
   
   
   .mn2{
     background-image:url(./images/testimonial-bg.jpg);
     background-size:cover;  
     width: 100%;
     height: 450px;
     background-attachment: fixed;
   }
   #contact{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       text-align: center;
       width: 60%;
       margin: auto;
       padding-bottom: 20px;
   }
   #contact h1{
       padding-top: 55px;
       padding-bottom: 20px;
   }
   .in{
       display: block;
       padding: 10px;
       margin: 15px 0;
       border:none;
       border-bottom: 3px solid #555;
       font-size: 18px;
       width: 100%;
    
       

   }
   .contact {
       display: flex;
       
       
    }
   .contact input{
    
       padding: 10px;
       width: 50%;
       border:none;
       border-bottom: 3px solid #555;
       font-size: 18px;
    
   }
   .contact input:nth-child(2){
       margin-left: 25px;
   }
   #contact textarea{
       border:none;
       border-bottom: 3px solid #555;
       width: 100%;
       padding: 10px;
       font-size: 18px;
       

       
    }
    #contact button{
        width: 100%;
        background-color: crimson;
        
        height: 50px;
        margin:30px 0;
        border-radius: 10px;
        border:none;
        color:white;
        font-size: 17px;
    }
    #contact button:hover{
        background-color: White;
        color:red;
        border:1px solid red;
    }
    .footer{
        display: flex;
        justify-content: space-evenly;
        padding-top: 80px;
        border-top: 0.1px solid #888;
        padding-bottom: 50px;

    }
    .f4{
        padding-top: 20px;
    }
    .ff{
        width:21%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .ff h1{
        padding-bottom: 15px;
        color:#333;
    }
    .ff p{
        letter-spacing: 1.5px;
  color:#555;
    }
    .mn2{
        color:#fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .mn2 h2{
        padding-top: 150px;
        font-size: 45px;
    }
    .mn2 p{
        font-size: 30px;
    }
    .menu{
        background-color: #222;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;
        
    } 
    .menu a{
        color:white;
        text-decoration: none;
    }
    .menu li{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 18px;
        list-style-type: none;
        padding: 30px;
    }
    .menu li:first-child{
        padding-top: 30px;
    }

    .content{
        display: flex;
    }
   
    .c1{
        opacity: 0;
        display: none;
        overflow: hidden;
    }
.c1_1{
    text-align: right;
    background-color: #222;
}
    .c1_1 img{
        margin: 13px;
        width: 50px;
        height: 50px;
    }
/*       media      */
@media (max-width:1000px){




.nav1 ul,.d1,.nav2 ul,.d1{
    display: none;
    overflow: hidden;
}
.nav1{
    position: fixed;
    }
.mnav{
    display: inherit;
}
.mnav2{
    display: inherit;

}
.yozuv{
    padding: 140px 25px;

}
.yozuv h3{
    padding-bottom: 20px;
}
.yozuv h1{
    font-size: 35px;
    }
    .sbutton{
        left: 90%;
        top:45%;
    }
    #about{
        flex-direction: column;
    }
    .about1,.about2{
        width: 90%;
      
    }
    .about1{
        margin: auto;
    }
    .about2{
        margin: 20px auto;
    }
    .chef{
        flex-direction: column;
    }
    .chef1,.chef2,.chef3{
        width: 90%;
        margin: 20px auto;
    }
    .chb h1{
        padding-top: 180px;
        opacity: 1;
        transform: none;
    }
    .chb p{
        opacity: 1;
        transform: none;
        
    }
    .chb{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .mn1{
        flex-direction: column;
    }
    .rasm{
        width: 90%;
        margin: 15px auto;
        border-radius: 10px;
    }
    .soya{
        background-color: rgba(0, 0, 0, 0.4);
    }
    .soya h1,.soya h2{
     opacity:1;
     color:#fff;
    }
    .mn2{
        background-position: bottom;
    }
    .contact{
        flex-direction: column;
    }
    .contact input{
        width: 100%;
    }
    #contact{
        width: 90%;
        margin: auto;
    }
    .contact input:nth-child(2){
        margin: 20px 0;
    }
    .footer{
        flex-direction: column;
    }
    .ff{
        text-align: center;
        width: 80%;
        margin: 25px auto;
    }

}